<article>
  <header class="entry-header">
    <h1 class="entry-title">
      <%= link_to "#{page.title}", page %>
    </h1>
  </header>

  <div class="entry-content">
    <div class="wp-caption alignnone" style="width: 445px">
      <%= raw page.body %>
    </div>
  </div>
</article>
