@import "bootstrap";
@import "bootstrap-wysihtml5";

body {
  padding-top: 60px;
  font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;;
}

textarea {
  width: 80%;
}
