<div class="article">
  <div class="page-header">
    <h2>
      <%= link_to "#{article.title}@#{article.member.name}", article %>
    </h2>
    <small><%= article.created_at %></small>
  </div>
  <div class="content">
    <%= raw article.body %>
  </div>
</div>
